@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #080808;
  --foreground: #f0eee8;
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--foreground);
  background: var(--background);
  min-height: 100vh;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
